<div class="container">
    <h1>Detalles de {{title}}</h1>
    <hr>
    <p>Sinopsis: {{description}}</p>
    <hr>
    <p>Autor/a: {{author}}</p>
    <hr>
    <p>Creado el: {{formattedDate}}</p>
</div>